{% extends 'base.html.twig' %}

{% block body %}

<!-- ======= Main Section ======= -->
<main id="main">
    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Reviews</h2>
                <p>What <span>They Say</span> About Us</p>
            </div>

            <div class="row g-0">

                <div class="col-lg-12 review-list">
                    {% for review in reviews %}
                        {% if review.isApproved %}
                            <div class="testimonial-item">
                                    <div class="row gy-4 justify-content-center">
                                        <div class="col-lg-6">
                                            <div class="testimonial-content">
                                                <h3>{{ review.name() }}</h3>
                                                <div class="stars">
                                                    {% for i in 1..5 %}
                                                        {% set starClass = (review.rating >= i ? "bi bi-star-fill" : "bi bi-star") %}
                                                        <i class="{{ starClass }}"></i>
                                                    {% endfor %}
                                                </div>
                                                <p>
                                                    <i class="bi bi-quote quote-icon-left"></i>
                                                    {{ review.content() }}
                                                    <i class="bi bi-quote quote-icon-right"></i>
                                                </p>
                                            </div>
                                        </div>
{#                                        <div class="col-lg-2 text-center">#}
{#                                            <img src="{{ review.image }}"#}
{#                                                 class="img-fluid testimonial-img" alt="">#}
{#                                        </div>#}
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="section-header">
                    <p>Rate <span>Your Stay</span> With Us</p>
                    <h2>Leave A Feedback</h2>
                </div>
                {% include 'front/forms/review-form.html.twig' %}
            </div>

        </div>
    </section>
    <!-- End Book A Table Section -->
</main>
<!-- End Main Section -->
{% endblock %}